body{
	font-family: comicsans, Arial, sans-serif;
	font-size: 22px;
	background-color: darkgrey;
	color: white;
}

em{
	font-weight: bold;
	color:blue;

}
strong{
	color:red;
}

#Hello {
	margin-left: 40px;
	font-size: 140%;
	font-style: italic;
	color: green;
}

.redtext{
	color: red;
}
main{
	margin-left: 40px;
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 20px:
    color: black;
    padding: 20px;
    padding-top: 1px;
    background-color: blue;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-image-width: green;

}